@model VETHarbor.Models.Programs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organizational_User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organizational_User.OrgUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgramId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
