@model IEnumerable<VETHarbor.Models.User_Events>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Events)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events.EventId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
