@model IEnumerable<VETHarbor.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrgName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrgCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrgState)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrgId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrgId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrgId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
