@model VETHarbor.Models.User_Programs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User_Programs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programs.ProgramId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserProgId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
