@model VETHarbor.ViewComponents.ProfileViewModel

<div>

    @Html.DisplayNameFor(model => model.OrgName)

    @Html.DisplayFor(model => model.OrgName)

    @Html.DisplayNameFor(model => model.OrgCity)

    @Html.DisplayFor(model => model.OrgCity)

    @Html.DisplayNameFor(model => model.OrgState)

    @Html.DisplayFor(model => model.OrgState)

</div>