@model VETHarbor.Models.Organizational_User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organizational_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization.OrganizationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrgUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
